# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.next/
*.log

# Env files
.env
.env.local
.env.*.local
.env.production
.env.development

# OS junk
.DS_Store
Thumbs.db

# Logs
logs
*.log
d
# Docker
**/.docker
docker-compose.override.yml
postgres_data/
minio_data/
redis_data/
loki_data/
loki_wal/

# VSCode
.vscode/

# Coverage/Test
coverage/
*.lcov
jest-output/

# Build outputs
dist/
.next/
out/
coverage/